<html lang="en">

<head>
    <title>Linkascan Error Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="The Ethereum BlockChain Explorer, API and Analytics Platform">
    <meta name="author" content="etherscan.io">
    <meta name="keywords" content="ethereum, explorer, ether, search, blockchain, crypto, currency">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/images/favicon2.ico">
   
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/theme.min.css?v=0.4.3.4">
</head>

<body>
    <header id="header" class="u-header">
        <% include ./header %>
    </header>
    <main id="content" class="bg-img-hero-center" style="background-image: url(images/error-404.svg);" role="main">
        <div class="container d-lg-flex align-items-lg-center min-height-100vh">
            <div class="w-lg-60 w-xl-50">
                <div class="mb-5">
                    <h1 class="text-primary font-weight-normal"><span class="font-weight-semi-bold mr-2">Sorry!</span>We
                        encountered an unexpected error.</h1>
                    <p class="mb-0 ">Please try back again shortly</p>
                </div>
                <a class="btn btn-primary btn-wide transition-3d-hover" href="/">Back Home</a>
            </div>
        </div>
    </main>


</body>

</html>