<link rel="stylesheet" href="/css/app-6f5a2a485be057712e36.css">

<div class="footer" id="footer_main">
    <div class="inner_container__content">
        <div class="sm-hide" style="display: flex;">
            <div class="footer_half">
                <div class="footer_title eng">Value Gateway Platform</div>
                <div class="footer_logo"><a href="https://www.linka.io"><img
                            src="/assets/linka.png"></a></div>
            </div>
            <div class="footer_half">
                <div class="footer_moto"><span>블록체인 기술로<br>일상의 가치를 더하다.</span></div>
            </div>
        </div>
    </div>
</div>